<table style="margin: 0 auto; border: 1px black solid;">
  <thead>
      <th style="border: 1px black solid; padding: 15px;">Name</th>
      <th style="border: 1px black solid; padding: 15px;">Id</th>
      <th style="border: 1px black solid; padding: 15px;">Email</th>
      <th style="border: 1px black solid; padding: 15px;">Street</th>
  </thead>
  <tr *ngFor="let user of userList">
      <td style="border: 1px black solid; padding: 15px;">{{user.name}}</td>
      <td style="border: 1px black solid; padding: 15px;">{{user.id}}</td>
      <td style="border: 1px black solid; padding: 15px;">{{user.email}}</td>
      <td style="border: 1px black solid; padding: 25px;">{{user.address.street}}</td>
  </tr>
</table>
